<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=0.1">
    <title>Front end lover.png</title>
</head>
<body style="margin: 0px; background: #0e0e0e; height: 100%;">
    <img style="margin: auto;cursor: zoom-in;background-color:hsl(0, 0%, 90%);transition: background-color 300ms; display: flex; align-items: center;" src="../images/0337623da6f2735849d1d4e7afa2f3a3.jpeg"  width="600" height="900">    
</body>
</html>